.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left:0;
  transition: ease 800ms;
  height: fit-content;
  width: 20vw;
  align-items: center;
  color: white;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu button{
  background-color: inherit;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  transition: ease 300ms;
}

.nav-menu button:hover{
  transform: scale(1.3);
  cursor: pointer;
}

.closeMenu {
  transform: translateY(-100vh);
}

.openMenu {
  transform: translateY(13.2vh);
}
