.top-bar{
  text-align: center;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  color: white;
}

.menu-icon{
  height: 120%;
}

.left-div, .middle-div, .right-div {
  height: 100%;
  width: 33%;
}
