ul{
  margin:0;
}

li{
  margin:0;
}

p{
  margin-bottom: 15px;
}

.introduction {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  min-height: 200px;
}

.introduction-name {
  font-size: 15px;
  text-decoration: underline;
  margin:0px;
  padding: 5px 0;
}

.introduction-photo {
  float:left;
  padding-right: 25px;
}

.text {
  margin: 0 auto;
  display:flex;
  max-width: 700px; 
}

.text-about {
 padding: 0;
 border:0px;
 width: 40%;
 margin: 30px 20px;
}

.text-tips {
  margin: 30px 20px;
  padding: 0;  
  width: 40%;
  float: right;
}

.photo {
  border-radius: 100px;
  width: 200px;
}

.titles {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
