#about-content{
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 3vh;
  margin-left: 25vw;
  width: 75vw;
}

#center-div{
  margin-top: 2vh;
  width: 50vw;
}

#center-div button{
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  padding: 1vw;
  transition: ease 300ms;
}

#center-div button:hover{
  cursor: pointer;
  transform: scale(1.2);
}

#right-div{
  padding-left: 9vw;
}

#about-img {
  border-radius: 30vh;
  height: 35vh;
}

#top-div{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-png{
  height: 5vh;
  margin-right: 1vw;
}

.tecnologies{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  transition: ease 200ms;
}

.tecnologies:hover{
  transform: scale(1.2);
}

@media ( max-width : 1000px ) {
  #about-content{
    flex-direction: column;
    font-size: 16px;
    height: fit-content;
    margin: 0;
    width: 100vw;
  }
  #top-div {
    flex-direction: column;
  }
  #center-div {
    text-align: center;
    width: 80vw;
  }

  #center-div button{
    padding: 10px
  }

  #right-div {
    margin: 10px auto;
    padding: 0;
    text-align: center;
  }

  #about-img{
    height: 25vh;
   }
}
