#contact-content {
  color: white;
  font-size: 3vh;
  margin-left: 25vw;
  width: 75vw;
}

.logo-contact{
  height: 10vh;
  margin-right: 1vw;
}

.contact-method{
  align-items: center;
  display: flex;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  margin-right: 0;
  padding: 10px;
  transition: ease 300ms;
  width: fit-content;
}

.contact-method:hover{
  border-radius: 5px;
  border: 1px solid white;
  transform: scale(1.2);
}

#contact-content a{
  color: white;
  text-decoration: none;
  width: fit-content;
}

@media ( max-width : 1000px ) {
  #contact-content {
    font-size: 14px;
    height: fit-content;
    margin: 10px 0;
    padding: 10px;
    width: 100vw;
  }
  #contact-content img{
    height: 10vh;
  }
  #contact-content a{
    font-size: 18px;
    margin-left: 30px;
  }
}
