.home{
  color: white;
  font-size: 17px;
  height: fit-content;
  width: 100vw;
}

.content-home {
 margin: 10vh auto;
 width: 57vw;
}

.content-home h1{
  margin-bottom: 10vh;
}

.content-home p{
  margin-bottom: 6vh;
}

.div-buttons{
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  margin-top: 15vh;
  width: 57vw;
}

.div-buttons button{
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-size: 17px;
  font-weight:bold;
  height: 100%;
  padding: 15px;
  transition: ease 300ms;
}

.div-buttons button:hover {
  border: 3px solid white;
  box-shadow:  0 0 2em rgb(0,0,0);
  cursor: pointer;
  transform: scale(1.3);
}

.link-trybe{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  transition: ease 300ms;

}

.link-trybe:hover{
  font-size: 18px;
}

@media ( max-width : 1000px ) {
  .home{
    font-size: 16px;
  }
  .div-buttons{
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .main-div {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
  }
  
  .content-home {
    height: fit-content;
    margin: 10vh auto 0 auto;
    width: 80vw;
  }

  .div-buttons button{
    height: fit-content;
    margin-bottom: 16px;
    width: fit-content;
  }
}
